<!-- <app-header-ad></app-header-ad> -->
<header class="header">
  <div class="logo-container">
    <strong class="logo">
      <a routerLink="/" routerLinkActive="active"> ng-news </a>
    </strong>
  </div>

  <div class="navigation-link">
    <ul class="navigation-lists">
      <li class="navigation-list">
        <a
          routerLink="/"
          class="hover-underline-animation"
          routerLinkActive="active"
        >
          01 home
        </a>
      </li>
      <li class="navigation-list">
        <a
          routerLink="/writings"
          class="hover-underline-animation"
          routerLinkActive="active"
        >
          02 writing
        </a>
      </li>
      <li class="navigation-list">
        <a
          routerLink="/profile"
          class="hover-underline-animation"
          routerLinkActive="active"
        >
          03 notes
        </a>
      </li>
      <li class="navigation-list">
        <a
          routerLink="/profile"
          class="hover-underline-animation"
          routerLinkActive="active"
        >
          04 about
        </a>
      </li>
      <li class="navigation-list">
        <a
          routerLink="/profile"
          class="hover-underline-animation"
          routerLinkActive="active"
        >
          switch
        </a>
      </li>
    </ul>
  </div>
</header>
